.page-header {
  border: 1px solid darken($off-white, 7%);
  padding: $s-size $m-size;
}

.page-header__actions {
  margin-top: $m-size;
}

.page-header__title {
  padding: $s-size;

  span {
    font-weight: 700;
  }
}
