container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python plug-and-play-resume/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python plug-and-play-resume/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python plug-and-play-resume/manage.py collectstatic --noinput"


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "plug-and-play-resume.settings"
    "PYTHONPATH": "/opt/python/current/app/plug-and-play-resume:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: plug-and-play-resume/plug-and-play-resume/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
