option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "plug-and-play-resume.settings"
    "PYTHONPATH": "/opt/python/current/app/plug-and-play-resume:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: plug-and-play-resume/plug-and-play-resume/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
