packages:
  yum:
    git: []
    postgresql94-devel: []

commands:
  01_clean_yum:
    command: yum clean all
  02_install_yarn:
    command: "sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo && curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash - && sudo yum install yarn -y"
  03_download_nodejs:
    command: "dcurl --silent --location https://rpm.nodesource.com/setup_10.x
     | sudo bash - "
  04_install_nodejs:
    command: yum -y install nodejs
  05_copy_nltk_data:
    command: "aws s3 cp s3://ppr-nltk-data/nltk_data  /usr/local/share/nltk_data --recursive"