* {
  box-sizing: border-box;
}


//converting pixel to x rem to x*10 pixels
html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Areal, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  background-color: lighten($light-blue, 8%);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  background: $mid-blue;
}
