//colors
$off-white: #f7f7f7;
$dark-blue: #2150de;
$royal-blue: #4169e1;
$mid-blue: #7a96eb;
$light-blue: #bdcbf5;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
//spacing
$s-size: 1.2rem;
$m-size: 1.5rem;
$mh-size: 1.8rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
