// Styling for page sections

.page {
  padding-top: 105px;

  .page-section {
    .page-section-heading {
      font-size: 2.25rem;
      line-height: 2rem;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 110px;
      .page-section-heading {
        font-size: 3rem;
        line-height: 2.5rem;
      }
    }
  }
}
