.header {

}

.header__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-top: $s-size;
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    //padding: $m-size;
  }
}

.header__item {
  flex-grow: 0.25;
  text-align: center;
  border: 1px solid darken($light-blue, 7%);
  text-decoration: none;

  h2 {
    color: $dark-blue;
    margin: 0 0;
  }

  transition: background .3s ease;

  &:hover {
    background: darken($light-blue, 7%);
  }
}

.header__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__title__text {
  flex-grow: 3;
  margin: $m-size 0 0;
  color: $royal-blue;
}

.header__title__button {
  @extend .button;
  margin: $m-size;
  line-height: 0.7em;
  border: 2.0px solid darken($mid-blue, 7%);
  border-top: none;
  border-left: none;
}

