.header {
  margin-bottom: $l-size;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: $s-size;
  @media (min-width: $desktop-breakpoint) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.header__item {
  flex-grow: 0.25;
  text-align: center;
  border: 1px solid darken($light-blue, 7%);
  text-decoration: none;

  h2 {
    color: $dark-blue;
    margin: 0 0;
  }

  transition: background .3s ease;

  &:hover {
    background: darken($light-blue, 7%);
  }
}

.header__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: $s-size;
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__title__text {
  width: 100%;
  color: $royal-blue;
  font-size: 2.0rem;
}

.header__title__button {
  @extend .button--full;
  //margin: $m-size $m-size $m-size $m-size;
  border: 2.0px solid darken($mid-blue, 7%);
  border-top: none;
  border-left: none;
  @media (min-width: $desktop-breakpoint) {
    width: 20%;
  }
}

