.text-input {
  align-items: center;
  height: 50px;
  font-weight: 300;
  padding: $s-size;
  flex-direction: column;
  background-color: darken($light-blue, 3%);
  border: 0.5px solid $mid-blue;
  border-bottom: none;
  border-right: none;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  margin: 1px;
  padding: 1px;
  height: 150px;
  width: 100%;
}

.text-input__login {
  @extend .text-input;
  margin-bottom: $s-size;
  width: 50%;

}
