.list {
  background-color: darken($light-blue,7%);
  display: flex;
  justify-content: center;
}

.list-header {
  display: flex;
  justify-content: center;
  padding: $s-size;
}

.list-body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-item {
  border: 1px solid darken($light-blue, 7%);
  border-top: none;
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease;

  &:hover {
    background: lighten($mid-blue, 7%);
  }

  @media (min-width: $desktop-breakpoint) {
    display: flex;
    align-items: center;
    padding: $m-size;
  }
}

.list-item--message {
  align-items: center;
  justify-content: center;
  padding: $m-size;

  &:hover {
    background: none;
  }
}

.list-item__text {
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}

.list-item__title {
  font-weight: bold;
  margin: 0;
  word-break: break-all;
}

.list-item__data {
  margin: $s-size 0 0 0;

}

.list-item__button {
  @extend .button;
  border: 1.5px solid darken($mid-blue, 7%);
  border-top: none;
  border-left: none;
  margin: 0 0.4em 0 0;
}

.list-item__button__remove {
  @extend .button;
  border: 1.5px solid darken($mid-blue, 7%);
  border-top: none;
  border-left: none;
}
